@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --color-bg-page: #f7f7f7;
  --color-text-primary: #232323;
  --color-text-muted: #898989;
  --color-text-strong: #212121;
  --color-border-default: #dadada;
  --color-brand: #00ad0c;
  --color-surface: #ffffff;
  --color-black: #000000;
  --color-link: #1d4ed8;
}

@theme {
  --font-lexend: "Lexend", sans-serif;
}

/* Edge/IE old reveal + clear buttons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Chromium/Safari internal decoration container */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

/* Optional: remove iOS/Safari contact/credentials icon if it appears */
input[type="password"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
